<section>
  <div class="container h-100 py-5">
    {{#if cart}}
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-10">
          <nav
            class="d-flex justify-content-between mb-3 nav-products flex-wrap"
          >
            <h3 class="fw-normal mb-0 text-black mb-2">Carrito de compras</h3>
            <button class="btn btn-secondary btn-sm mb-2" type="button">
              <a href="/api/products">
                Seguir comprando
              </a>
            </button>
            <button
              class="btn btn-secondary btn-sm mb-2"
              type="button"
              onclick="deleteAllProducts()"
            >Vaciar carrito</button>
          </nav>
          {{#each cart}}
            <div class="card rounded-3 mb-4">
              <div class="card-body p-4">
                <div
                  class="row d-flex justify-content-between align-items-center"
                >
                  {{#each product.thumbnail}}
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img
                        src={{img1}}
                        class="img-fluid rounded-3"
                        alt="Cotton T-shirt"
                      />
                    </div>
                  {{/each}}
                  <div class="col-md-3 col-lg-3 col-xl-3 mt-2">
                    <p class="lead fw-normal mb-2">Producto:
                      <span class="text-muted">{{product.title}}</span></p>
                    <p class="lead fw-normal mb-2">Categoría:
                      <span class="text-muted">{{product.category}}</span>
                    </p>
                    <p class="fw-normal mb-2">Codigo:<span class="text-muted">
                        {{product.code}}
                      </span></p>
                    <p class="fw-normal mb-2">Stock:<span class="text-muted">
                        {{product.stock}}
                      </span></p>
                  </div>
                  <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                    <button
                      class="btn btn-link px-2"
                      onclick="decreaseQuantity('{{product._id}}')"
                    >
                      <i class="fas fa-minus"></i>
                    </button>
                    <input
                      id="form1"
                      name="quantity"
                      value={{quantity}}
                      type="text"
                      class="form-control form-control-sm"
                    />
                    <button
                      class="btn btn-link px-2"
                      onclick="increaseQuantity('{{product._id}}')"
                    >
                      <i class="fas fa-plus"></i>
                    </button>
                  </div>
                  <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1 mb-4 mt-4">
                    <h5 class="mb-0">$ {{product.price}}</h5>
                  </div>
                  <div
                    class="col-md-1 col-lg-1 col-xl-1 text-danger trash-icon"
                    onclick="deleteProduct('{{product._id}}')"
                  >
                    <i class="fas fa-trash fa-lg"></i>
                  </div>
                </div>
              </div>
            </div>
          {{/each}}
        </div>
      </div>
    {{else}}
      <nav class="d-flex mb-3 nav-products flex-wrap">
        <h3 class="fw-normal text-black mb-2">Aún no hay productos</h3>
        <button class="btn btn-secondary btn-sm" type="button">
          <a href="/api/products">
            Ir a comprar
          </a>
        </button>
      </nav>
    {{/if}}
  </div>
</section>
<script src="/js/index.js"></script>